input[type="range"] {
    -webkit-appearance: none; 
    appearance: none;
    height: 2px;
    width: 95%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
  }
  
  input[type="date"] {
    display: inline-flex
  }

  @media screen and (min-width: 768px) {
    input[type="date"] {
      display: inline-flex
    }    
  }

  input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;  
  }
  
  input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
  }
  
  input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  }
  
input[type='checkbox'] {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

input[type='checkbox']:checked {
    background-color: #176d73;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #176d73;
  border-radius: 50%;
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}

.facebook {
  border-radius: 9999px;
  border-color: #176d73;
  color: #176d73;
  font-size: 20px;
  width: 340px;
  height: 54px;
  border-width: 1px;
  margin-left: -145px;
}

.facebook1 {
  border-radius: 9999px;
  border-color: #176d73;
  color: #176d73;
  font-size: 20px;
  width: 350px;
  height: 54px;
  border-width: 1px;
  margin-left: 75px;
  margin-top: 16px;
}